.parallax2 {
    background-image: url("parallax/prlx-2.jpg");
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media only screen and (max-device-width:1024px) {
    .parallax2 {
        background-attachment: scroll;
        width: 100%;
    }
}
.parallax4 {
    background-image: url("parallax/best.jpg");
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media only screen and (max-device-width:1024px) {
    .parallax4 {
        background-attachment: scroll;
        width: 100%;
    }
}
.parallax5 {
    background-image: url("parallax/prnd.jpg");
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media only screen and (max-device-width:1024px) {
    .parallax5 {
        background-attachment: scroll;
        width: 100%;
    }
}
.parallax6 {
    background-image: url("parallax/irs.jpg");
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media only screen and (max-device-width:1024px) {
    .parallax6 {
        background-attachment: scroll;
        width: 100%;
    }
}
.parallax7 {
    background-image: url("parallax/ara.jpg");
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media only screen and (max-device-width:1024px) {
    .parallax7 {
        background-attachment: scroll;
        width: 100%;
    }
}
