@media only screen and (max-device-width:1024px) {
    .parallax2 {
        background-attachment: scroll;
    }
}
@media only screen and (max-device-width:1024px) {
    .parallax4 {
        background-attachment: scroll;
    }
}@media only screen and (max-device-width:1024px) {
    .parallax5 {
        background-attachment: scroll;
    }
}@media only screen and (max-device-width:1024px) {
    .parallax6 {
        background-attachment: scroll;
    }
}@media only screen and (max-device-width:1024px) {
    .parallax7 {
        background-attachment: scroll;
    }
}